@font-face {
  font-family: Nunito-Variable;
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiempos Headline Medium';
  src: url('/fonts/tiemposDispMed.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
